@model IEnumerable<EjemploCarrito.Models.Producto>

@{
    ViewData["Title"] = "Carrito";
}

<h1>Carrito</h1>

@if (Model != null && Model.Any())
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Nombre)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Precio)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nombre)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Precio)
                    </td>
                    <td>
                        <a class="btn btn-outline-danger" asp-action="Carrito" asp-controller="Productos" asp-route-idproducto="@item.IdProducto">
                            Eliminar
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <a asp-action="Pedidos" asp-controller="Productos">
        Realizar pedido
    </a>
}
else
{
    <p style="color:red">Carrito vacio</p>
}

