@model IEnumerable<EjemploCarrito.Models.Producto>

@{
    ViewData["Title"] = "GetProductos";
    List<int> carrito = Context.Session.GetObject<List<int>>("CARRITO");
}

<h1>GetProductos</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Precio)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Precio)
            </td>
            <td>
                @if(carrito != null && carrito.Contains(item.IdProducto))
                {
                    <button disabled class="btn btn-outline-danger disabled">En carrito</button>
                }
                else
                {
                    <a class="btn btn-outline-success" asp-action="GetProductos" asp-controller="Productos" asp-route-idproducto="@item.IdProducto">
                        Añadir a carrito
                    </a>
                }
                
            </td>
        </tr>
}
    </tbody>
</table>
